.layui-row{margin-bottom: 8px}
.panel_box a{display:block; background-color:#f2f2f2; border-radius:5px; overflow:hidden; margin: 0 10px}
.panel{float: left; text-align: center; width:16.666%; min-width:210px; margin-bottom: 10px;}
.panel i{color: #5FB878}
.panel_word{float: right;width: 60%;}
.panel_word cite{line-height: 110px;font-size: 20px;}

.col{padding: 0 5px}
