<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqy.dao.mapper.PatentLawsuitMapper">
    <resultMap id="BaseResultMap" type="com.wqy.entity.PatentLawsuit">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <id column="pid" jdbcType="VARCHAR" property="pid"/>
        <result column="suit" jdbcType="VARCHAR" property="suit"/>
        <result column="solicitor" jdbcType="VARCHAR" property="solicitor"/>
        <result column="lawyer" jdbcType="VARCHAR" property="lawyer"/>
        <result column="process" jdbcType="VARCHAR" property="process"/>
        <result column="results" jdbcType="VARCHAR" property="results"/>
        <result column="other" jdbcType="VARCHAR" property="other"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, pid, suit, solicitor, lawyer, process, results, other
  </sql>
    <select id="selectByExample" parameterType="com.wqy.entity.PatentLawsuitExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from patent_lawsuit
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="com.wqy.entity.PatentLawsuitKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from patent_lawsuit
        where id = #{id,jdbcType=VARCHAR}
        and pid = #{pid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.wqy.entity.PatentLawsuitKey">
    delete from patent_lawsuit
    where id = #{id,jdbcType=VARCHAR}
      and pid = #{pid,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.wqy.entity.PatentLawsuitExample">
        delete from patent_lawsuit
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.wqy.entity.PatentLawsuit">
    insert into patent_lawsuit (id, pid, suit, 
      solicitor, lawyer, process, 
      results, other)
    values (#{id,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{suit,jdbcType=VARCHAR}, 
      #{solicitor,jdbcType=VARCHAR}, #{lawyer,jdbcType=VARCHAR}, #{process,jdbcType=VARCHAR}, 
      #{results,jdbcType=VARCHAR}, #{other,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.wqy.entity.PatentLawsuit">
        insert into patent_lawsuit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="suit != null">
                suit,
            </if>
            <if test="solicitor != null">
                solicitor,
            </if>
            <if test="lawyer != null">
                lawyer,
            </if>
            <if test="process != null">
                process,
            </if>
            <if test="results != null">
                results,
            </if>
            <if test="other != null">
                other,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=VARCHAR},
            </if>
            <if test="suit != null">
                #{suit,jdbcType=VARCHAR},
            </if>
            <if test="solicitor != null">
                #{solicitor,jdbcType=VARCHAR},
            </if>
            <if test="lawyer != null">
                #{lawyer,jdbcType=VARCHAR},
            </if>
            <if test="process != null">
                #{process,jdbcType=VARCHAR},
            </if>
            <if test="results != null">
                #{results,jdbcType=VARCHAR},
            </if>
            <if test="other != null">
                #{other,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.wqy.entity.PatentLawsuitExample" resultType="java.lang.Long">
        select count(*) from patent_lawsuit
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update patent_lawsuit
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.pid != null">
                pid = #{record.pid,jdbcType=VARCHAR},
            </if>
            <if test="record.suit != null">
                suit = #{record.suit,jdbcType=VARCHAR},
            </if>
            <if test="record.solicitor != null">
                solicitor = #{record.solicitor,jdbcType=VARCHAR},
            </if>
            <if test="record.lawyer != null">
                lawyer = #{record.lawyer,jdbcType=VARCHAR},
            </if>
            <if test="record.process != null">
                process = #{record.process,jdbcType=VARCHAR},
            </if>
            <if test="record.results != null">
                results = #{record.results,jdbcType=VARCHAR},
            </if>
            <if test="record.other != null">
                other = #{record.other,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update patent_lawsuit
        set id = #{record.id,jdbcType=VARCHAR},
        pid = #{record.pid,jdbcType=VARCHAR},
        suit = #{record.suit,jdbcType=VARCHAR},
        solicitor = #{record.solicitor,jdbcType=VARCHAR},
        lawyer = #{record.lawyer,jdbcType=VARCHAR},
        process = #{record.process,jdbcType=VARCHAR},
        results = #{record.results,jdbcType=VARCHAR},
        other = #{record.other,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.wqy.entity.PatentLawsuit">
        update patent_lawsuit
        <set>
            <if test="suit != null">
                suit = #{suit,jdbcType=VARCHAR},
            </if>
            <if test="solicitor != null">
                solicitor = #{solicitor,jdbcType=VARCHAR},
            </if>
            <if test="lawyer != null">
                lawyer = #{lawyer,jdbcType=VARCHAR},
            </if>
            <if test="process != null">
                process = #{process,jdbcType=VARCHAR},
            </if>
            <if test="results != null">
                results = #{results,jdbcType=VARCHAR},
            </if>
            <if test="other != null">
                other = #{other,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
        and pid = #{pid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wqy.entity.PatentLawsuit">
    update patent_lawsuit
    set suit = #{suit,jdbcType=VARCHAR},
      solicitor = #{solicitor,jdbcType=VARCHAR},
      lawyer = #{lawyer,jdbcType=VARCHAR},
      process = #{process,jdbcType=VARCHAR},
      results = #{results,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
      and pid = #{pid,jdbcType=VARCHAR}
  </update>

    <!--专利诉讼数据信息-->
    <resultMap id="PatentLawsuitInfo" type="com.wqy.pojo.patent.PatentLawsuitInfo">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <id column="pid" jdbcType="VARCHAR" property="pid"/>
        <result column="technical_classification" jdbcType="VARCHAR" property="technical_classification"/>
        <result column="patentName" jdbcType="VARCHAR" property="patentName"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="patent_product" jdbcType="VARCHAR" property="patent_product"/>
        <result column="apply_type" jdbcType="VARCHAR" property="apply_type"/>
        <result column="protected_areas" jdbcType="VARCHAR" property="protected_areas"/>
        <result column="patent_type" jdbcType="VARCHAR" property="patent_type"/>
        <result column="apply_date" jdbcType="DATE" property="apply_date"/>
        <result column="apply_name" jdbcType="VARCHAR" property="apply_name"/>
        <result column="accredit_date" jdbcType="DATE" property="accredit_date"/>
        <result column="patent_number" jdbcType="VARCHAR" property="patent_number"/>
        <result column="suit" jdbcType="VARCHAR" property="suit"/>
        <result column="solicitor" jdbcType="VARCHAR" property="solicitor"/>
        <result column="lawyer" jdbcType="VARCHAR" property="lawyer"/>
        <result column="process" jdbcType="VARCHAR" property="process"/>
        <result column="results" jdbcType="VARCHAR" property="results"/>
        <result column="other" jdbcType="VARCHAR" property="other"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>

    <!--查询专利诉讼数据列表-->
    <select id="listEX" resultMap="PatentLawsuitInfo" parameterType="com.wqy.model.patent.WebPatentLawsuitInfo">
        select
        b.id,
        b.pid,
        a.technical_classification,
        a.patentName,
        a.image,
        a.patent_product,
        a.apply_type,
        a.protected_areas,
        a.patent_type,
        a.apply_date,
        a.apply_name,
        a.accredit_date,
        a.patent_number,
        a.address,
        b.suit,
        b.solicitor,
        b.lawyer,
        b.process,
        b.results,
        b.other
        from patent a left join patent_lawsuit b on a.id = b.pid
        <where>
            <if test="patentName!=null and patentName!=''">
                a.patentName like concat('%',concat(#{patentName},'%'))
            </if>
            <if test="patent_number!=null and patent_number!=''">
                and a.patent_number = #{patent_number}
            </if>
            <if test="technical_classification!=null and technical_classification!=''">
                and a.technical_classification = #{technical_classification}
            </if>
            <if test="protected_areas!=null and protected_areas!=''">
                and a.protected_areas = #{protected_areas}
            </if>
            <if test="apply_name!=null and apply_name!=''">
                and a.apply_name=#{apply_name}
            </if>
            <if test="apply_date_start!=null and apply_date_start!=''">
                and a.apply_date <![CDATA[>= ]]> #{apply_date_start}
            </if>
            <if test="apply_date_end!=null and apply_date_end!=''">
                and a.apply_date <![CDATA[<= ]]> #{apply_date_end}
            </if>
            <if test="accredit_date_start!=null and accredit_date_start!=''">
                and a.accredit_date <![CDATA[>= ]]> #{accredit_date_start}
            </if>
            <if test="accredit_date_end!=null and accredit_date_end!=''">
                and a.accredit_date <![CDATA[<= ]]> #{accredit_date_end}
            </if>
            <if test="hid_value_address != '' and hid_value_address !=null ">
                and address in
                <foreach close=")" collection="adds" item="listItem" open="(" separator=",">
                    #{listItem}
                </foreach>
            </if>
        </where>
    </select>

    <!--查询专利诉讼数据列表-->
    <select id="list" resultMap="PatentLawsuitInfo" parameterType="com.wqy.util.LimitElements">
    select
      b.id,
      b.pid,
      a.technical_classification,
      a.patentName,
      a.image,
      a.patent_product,
      a.apply_type,
      a.protected_areas,
      a.patent_type,
      a.apply_date,
      a.apply_name,
      a.accredit_date,
      a.patent_number,
      b.suit,
      b.solicitor,
      b.lawyer,
      b.process,
      b.results,
      b.other
    from patent a left join patent_lawsuit b on a.id = b.pid limit #{start},#{size};
  </select>
    <!--查询专利数据总数-->
    <select id="count" resultType="java.lang.Long">
    select count(*) from patent_lawsuit;
  </select>
    <!--工具条件查询-->
    <select id="selectByXX" resultMap="PatentLawsuitInfo" parameterType="java.lang.String">
    select
    b.id,
    b.pid,
    a.technical_classification,
    a.patentName,
    a.image,
    a.patent_product,
    a.apply_type,
    a.protected_areas,
    a.patent_type,
    a.apply_date,
    a.apply_name,
    a.accredit_date,
    a.patent_number,
    b.suit,
    b.solicitor,
    b.lawyer,
    b.process,
    b.results,
    b.other
    from patent a left join patent_lawsuit b on a.id = b.pid where a.patentName like concat('%',concat(#{searchPantentName},'%'));
  </select>
</mapper>