<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<footer th:fragment="footer" class="layui-footer">

    <script type="text/javascript" src="/ui/layui/layui.all.js" th:src="@{/ui/layui/layui.all.js}"></script>

    <script type="text/javascript" src="/js/formSelects-v4.js" th:src="@{/js/formSelects-v4.js}"></script>

    <!--Jquery-->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
</footer>
</body>
</html>